<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
<body>
        <div style="background:url(https://raw.githubusercontent.com/clwater/ExternalFile/master/img/blog_other_back.jpg); height: 600px; position: relative">
                   <nav class="navbar " role="navigation" style="padding-left: 50px ;padding-right: 50px ; padding-top: 10px; position: relative ">
                       <div class="navbar-header .navbar-right">
                           <a class="navbar-brand" >水蕴茶社</a>
                       </div>
                       <div>
                          <ul class="nav navbar-nav navbar-right ">
                             <li><a href="/">HOME</a></li>
                             <li class="active"><a href="/Blog">BLOG</a></li>
                              <li><a href="/Book">BOOK</a></li>
                             <li><a href="/Contact">CONTACT</a></li>
                          </ul>
                       </div>
                    </nav>
             <div style="position: absolute;    bottom: 60px;     width: 100%;    color: #FFF;    text-align: center;">
                <p class="h1" style="text-align:center">Blog</p>
             </div>

        </div>
</body>
</html>