<!DOCTYPE html>
<html lang="en">
<head>
    <title>水蕴茶社_Contact</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
<body>
        <div style="background:url(https://raw.githubusercontent.com/clwater/ExternalFile/master/img/blog_other_back.jpg); height: 600px; position: relative">
                   <nav class="navbar " role="navigation" style="padding-left: 50px ;padding-right: 50px ; padding-top: 10px; position: relative ">
                       <div class="navbar-header .navbar-right">
                           <span class="navbar-brand" style="color: #000000 ; font-size: 2em">水蕴茶社</span>
                       </div>
                       <div>
                          <ul class="nav navbar-nav navbar-right ">
                             <li><a href="/" style="color: #000000">HOME</a></li>
                             <li><a href="/Blog" style="color: #000000">BLOG</a></li>
                              <li><a href="/Book" style="color: #000000">BOOK</a></li>
                             <li class="active"><a href="/Contact">CONTACT</a></li>
                          </ul>
                       </div>
                    </nav>
             <div style="position: absolute;    bottom: 60px;     width: 100%;    color: #FFF;    text-align: center;">
                <p class="h1" style="text-align:center">Contact</p>
             </div>
        </div>


         <div class="" style="height: auto ; background-color: #0a5262 ; text-align: center ; padding-top: 80px">


             <div>

                    <div class="h3" style="color: #ffffff">
                        <p>Contact me</p>
                    </div>

                 <div class="h5" style="color: #ffffff ">
                        <p>Thanks for you enter there , If you have any question , or you want chat for me . you can contact me with the following methods . </p>
                    </div>

             </div>


                    <div class="row clearfix" style="text-align: center ; padding-top: 50px">
                        <div class="col-md-2"></div>
                        <div class="col-md-4 column" style="text-align: left">
                            <img src="https://raw.githubusercontent.com/clwater/ExternalFile/master/img/email_icon.png" style="width: 70px ; height: 70px">
                            <a href="#">gengzhibo@gengzhibo.net</a>
                        </div>
                        <div class="col-md-4 column" style="text-align: left">
                            <img src="https://raw.githubusercontent.com/clwater/ExternalFile/master/img/qq_icon.png" style="width: 60px ; height: 60px">
                            <a href="#">675042504</a>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-2"></div>
                        <div class="col-md-4 column" style="text-align: left">
                            <img src="https://raw.githubusercontent.com/clwater/ExternalFile/master/img/edit_icon.png" style="width: 70px ; height: 70px">
                            <a href="#">Write for me</a>
                        </div>
                        <div class="col-md-4 column" style="text-align: left">
                            <img src="https://raw.githubusercontent.com/clwater/ExternalFile/master/img/weibo_icon.png" style="width: 70px ; height: 70px">
                            <a href="#">又似在水一方</a>
                        </div>
                        <div class="col-md-2"></div>
                    </div>

              <h4 style="bottom: 0; color: #ffffff ; padding-bottom: 7px">
                Designed by <b>Clwater</b>.
            </h4>


         </div>







  <a id="scrollUp" href="#top" style="bottom: 20px; right: 20px; width: 38px; ; height :38px ; display: block; position: fixed; z-index: 2147483647; background-image: url(https://raw.githubusercontent.com/clwater/ExternalFile/master/img/top.png); "></a>



</body>
</html>