<!DOCTYPE html>
<html lang="en" xmlns:https="http://www.w3.org/1999/xhtml">
<head>
    <title>水蕴茶社</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">
    <style type="text/css">
        #home_top{height:auto ; max-height: 1080px ; min-height: 540px;
    background-image: url(//raw.githubusercontent.com/clwater/ExternalFile/master/img/web_blog_home_pic1.jpg);}
        #home_top_shandow{font-size: 1.2em;  padding: 25px 160px 30px 60px;  color: #FFF;    left: 120px;  bottom: 130px;}
    </style>
</head>
<body  style="margin-left: auto; margin-right: auto ;  background: #000000" >

        <div class="img-responsive" id="home_top" style="">
            <div style="width: auto">
                <nav class="navbar " role="navigation" style="padding-left: 50px ;padding-right: 50px ; padding-top: 10px; ">
                    <div class="navbar-header .navbar-right" >
                        <a class="navbar-brand"  style="color: #f1f1f1">水蕴茶社</a>
                    </div>
                    <div>
                        <ul class="nav navbar-nav navbar-right " >
                            <li class="active"><a href="/" style="color: #f1f1f1">HOME</a></li>
                            <li><a href="{% url 'blog_get_blogs' '1' %}" style="color: #f1f1f1">BLOG</a></li>
                            <li><a href="/Book" style="color: #f1f1f1" >BOOK</a></li>
                            <li><a href="/Contact" style="color: #f1f1f1">CONTACT</a></li>
                        </ul>
                    </div>
                </nav>
            </div>




            <div id="home_top_shandow" style="background-image: url(//dannysite.oss-cn-hongkong.aliyuncs.com/dcom/static/v5/images/home/cover.png); background-repeat: repeat; margin-top: 20px">
        	<div class="top-txt-content">
            	<div class="smile">
                    <h1>=-=</h1>
                </div>
                <div class="say-hi">
                    <h2>I am clwater</h2>
                </div>
                <div class="preface">
                    <p>It is my Blog , Create by 2016-08-15 . <br>Wish it grow with us<br></p>
                </div>
            </div>
        </div>

        </div>


         <div class="container" style="background: #215e89 ;width: 100%; text-align: center ; margin-bottom: 4px" >
                <div class="row clearfix">
                    <div class="col-md-1 column" >

                          <img  src="https://raw.githubusercontent.com/clwater/ExternalFile/master/img/web_blog_home_n1.png"
                               style="height: 270px; padding-top: 10px; width: 127px"/>
                    </div>
                    <div class="col-md-1 column">
                        <img src="https://raw.githubusercontent.com/clwater/ExternalFile/master/img/web_blog_home_n2.png"
                            style="height: 270px; padding-top: 10px ; "/>
                    </div>
                    <div class="col-md-2 column"></div>
                    <div class="col-md-6 column">
                            <p class="h1" style="text-align: center; color: #ffffff ">About me</p>
                            <p class="h5" style="color: #ffffff" ><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I am a software engineer in BeiJing. At least now. In strictly speaking , I am a college student . But  I still care 5 years in
                            coding(maybe it is more old , In my elementary school life , I started to use Logo language. )<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Now I working in android , but at others time
                            I like learning other language , In this status , I decide to create my blog . Wish it can grow with us</i></p>
                    </div>
                    <div class="col-md-2 column"></div>



                 </div>
             </div>


        <div  class="contact" style="background-image: url(https://raw.githubusercontent.com/clwater/ExternalFile/master/img/blog_back_bottom.jpg);height:auto ;
        max-height: 1080px ; position: relative; text-align: center; font-size: 1.2em;    color: #FFF;    overflow: hidden; margin-bottom: 40px">


            <div class="contact-title">
            	<h2>And more</h2>
            </div>

            <div class="contact-content">
            	<p>You can visit my  <b><a href="/Blog/">BLOG</a></b>,<br>
                        or contact me with the following methods .</p>
           	</div>

                <div class="" style="margin-left: auto ; margin-left: auto">
                    <div class="row clearfix" style="text-align: center">
                        <div class="col-md-2"></div>
                        <div class="col-md-4 column" style="text-align: left">
                            <img src="https://raw.githubusercontent.com/clwater/ExternalFile/master/img/email_icon.png" style="width: 70px ; height: 70px">
                            <a href="#">gengzhibo@gengzhibo.net</a>
                        </div>
                        <div class="col-md-4 column" style="text-align: left">
                            <img src="https://raw.githubusercontent.com/clwater/ExternalFile/master/img/qq_icon.png" style="width: 70px ; height: 70px">
                            <a href="#">675042504</a>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-2"></div>
                        <div class="col-md-4 column" style="text-align: left">
                            <img src="https://raw.githubusercontent.com/clwater/ExternalFile/master/img/edit_icon.png" style="width: 70px ; height: 70px">
                            <a href="/Contact">Write for me</a>
                        </div>
                        <div class="col-md-4 column" style="text-align: left">
                            <img src="https://raw.githubusercontent.com/clwater/ExternalFile/master/img/weibo_icon.png" style="width: 70px ; height: 70px">
                            <a href="#">又似在水一方</a>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>



            <h4 style="bottom: 0; color: #ffffff">
                Designed by <b>Clwater</b>.
            </h4>


        </div>




  <a id="scrollUp" href="#top" style="bottom: 20px; right: 20px; width: 38px; ; height :38px ; display: block; position: fixed; z-index: 2147483647; background-image: url(https://raw.githubusercontent.com/clwater/ExternalFile/master/img/top.png); "></a>





</body>
</html>

