<!DOCTYPE html>
<html lang="en" xmlns:https="http://www.w3.org/1999/xhtml">
<head>
    <title>水蕴茶社</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <style type="text/css">
        #home_top{height:auto ; max-height: 1080px ; min-height: 540px;
    background-image: url(//raw.githubusercontent.com/clwater/ExternalFile/master/img/web_blog_home_pic1.jpg);}
        #home_top_shandow{font-size: 1.2em;  padding: 25px 160px 30px 60px;  color: #FFF;    left: 120px;  bottom: 130px;}
    </style>
</head>
<body  style="margin-left: auto; margin-right: auto">

        <div class="img-responsive" id="home_top">
            <nav class="navbar  navbar-inverse" role="navigation" style="padding-left: 50px ;padding-right: 50px ; padding-top: 10px">
                <div class="navbar-header .navbar-right">
                    <a class="navbar-brand" >水蕴茶社</a>
                </div>
                <div>
                    <ul class="nav navbar-nav navbar-right ">
                        <li class="active"><a href="/">HOME</a></li>
                        <li><a href="/Blog">BLOG</a></li>
                        <li><a href="/Contact">CONTACT</a></li>
                    </ul>
                </div>
            </nav>


            <div id="home_top_shandow" style="background-image: url(//dannysite.oss-cn-hongkong.aliyuncs.com/dcom/static/v5/images/home/cover.png); background-repeat: repeat;">
        	<div class="top-txt-content">
            	<div class="smile">
                    <h1>=-=</h1>
                </div>
                <div class="say-hi">
                    <h2>I am clwater</h2>
                </div>
                <div class="preface">
                    <p>It is my Blog , Create by 2016-08-15 . <br>Wish it grow with us<br></p>
                </div>
            </div>
        </div>

        </div>






    <div id="footer" class="container">
        <nav class="navbar navbar-fixed-bottom">

                <p class="text-muted credit" style="padding: 10px; text-align: center">
                    Designed by <b>Clwater</b>.
                </p>

        </nav>
    </div>



</body>
</html>

